<div class="row">
  <div class="col-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>date</th>
          <th>score1</th>
          <th>score2</th>
          <th>team1 code</th>
          <th>team1 name</th>
          <th>team1 key</th>
          <th>team2 code</th>
          <th>team2 name</th>
          <th>team2 key</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let match of matches | matchFilter:key; index as i">
          <td>{{ (i+1) }}</td>
          <td>{{ match.date }}</td>
          <td>{{ match.score1 }}</td>
          <td>{{ match.score2 }}</td>
          <td>{{ match.team1.code }}</td>
          <td>{{ match.team1.name }}</td>
          <td>{{ match.team1.key }}</td>
          <td>{{ match.team2.code }}</td>
          <td>{{ match.team2.name }}</td>
          <td>{{ match.team2.key }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
